* {
  margin: 0;
  padding: 0;
}

body { 
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}

main {
  font-family: 'Courier New', Courier, monospace;
  width: 90vw;
  min-height: 100vh;
  padding: 2% 5%;
 }

ul {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #b99333;
}

h2,
h3 {
  font-size: 40px;
  color: #b99333;
  font-style: oblique;
}

button {
  padding: 10px 20px;
  background-color:#171616;
  color: #b99333;
  border: none;
  box-shadow: 1px 1px 1px 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}

.score-section {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.recent-scores {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recent-scores ul {
  align-self: flex-start;
  border: 3px solid #b99333;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  flex: 100%;
  margin-top: 20px;
  background-color: #171616;
  color: #b99333;
  font-weight: bold;
}

.recent-scores ul li {
  padding: 10px;
}

.recent-scores ul li:nth-of-type(even) {
  background-color: #b99333;
  color: rgb(0, 0, 0);
 }

.add-scores {
  width: 50%;
  padding: 0;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

form input {
  padding: 13px;
  border-radius: 5px;
  border: 3px solid #b99333;
}

form input[type="number"] {
  -webkit-appearance: textfield;
}

form input:focus {
  outline : none;
}

form button {
  align-self: flex-end;
}
